/*This stylesheet contains some custom class rather than Bootstrap*/
		
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
#profile, #skills, #work, #resume {
	padding:30px 0;
	padding-top: 120px;
	min-height:500px;
}
#profile h2, #skills h2, #work h2, #resume h2 {
	font-weight:normal;
	color: #39D084;
}
/***** Profile *****/
	#profile h1 {
	color:#39d084;
	font-weight: normal;
}
#profile h3 {
	color:#fff;
	font-weight: normal;
}
#profile p {
	color:#fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
#profile .container .span5 {
	padding:40px 0;
}
a.my-resume {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.my-resume:hover {
	text-decoration:none;
	background:#11d170;
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}
/***** Skills *****/
#skills .span3 {
	width:235px;
	overflow: hidden;
}
#skills .span5 {
	text-align:left;
	padding:47px 0;
}
#skills .py, #skills .c, #skills .cpp, #skills .php {
	padding:25px;
	width:100px;
	height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	border:8px solid #203748;
	float:right;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#skills .py {
	background:#30a5dc;
}
#skills .c {
	background:#ee742b;
}
#skills .cpp {
	background:#f04949;
}
#skills .php {
	background:#39d084;
}
#skills .py:hover, #skills .c:hover, #skills .cpp:hover, #skills .php:hover {
	border:8px solid #fff;
}
#skills .py h3, #skills .c h3, #skills .cpp h3, #skills .php h3 {
	color:#fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
#skills .cpp h3, #skills .php h3 {
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
#skills .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
#skills .span5 h3 span {
	float:right;
}
.py2 {
	width:80%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.c2 {
	width:70%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.cpp2 {
	width:70%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.php2 {
	width:50%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes py2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes c2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes cpp2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes php2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes py2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes c {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes cpp {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes php {
0% {
width:0px;
}
100% {
width:85%;
}
}
/**** Work container *****/
ul.work-images li {
	width: 250px;
    height: 250px;
	list-style:none;
	display:inline-block;
	margin: 8px 10px;
 /*background:*/
}
ul.work-images li:first-child {
	margin-left:0;
}
ul.work-images li div {
	/*background:url(../img/dragon.png) 50% 50% no-repeat;*/
	/*background-size: 60px 80px;*/
	/*background:url(../img/eye.png) 50% 50% no-repeat;*/
	/*background-color: grey;*/
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img {
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;

}
ul.work-images li img:hover {
	opacity:0.3;
}

.ocr:hover{ opacity: 0.5;}

/***** Resume container *****/
#resume h3 {
	margin:60px 0;
}
#resume .btn-center {
	text-align:center;
}
.footer {
	background:#355267;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}

/**** Self csss my ***/
.project-description ul
{
	list-style-type: none;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
}

.project-description li
{
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
}



/***fonttello self font ***/

i.default{color:#39d084}
i.green {color:green}
i.blue {color:blue}
i.yellow {color:yellow}

i.icon-3x {
    display:block;
    text-align: center;
    font-size: 3.5em;
}

a .icon-3x {
    color: #39d084;
    color: #000000;
    color:grey;
}

 a:hover .icon-3x {
    color:#FFFFFF;
    color: #39d084;
    
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;

	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

span.text-content {
background: rgba(0,0,0,0.5);
color: white;
cursor: pointer;
display: table;
height: 150px;
left: 0;
position: absolute;
top: 0;
width: 150px;
opacity: 0;
}
 
 .ocr:hover span.text-content {
opacity: 0.1;
} 

span.text-content span {
display: table-cell;
text-align: center;
vertical-align: middle;
} 
